body {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
h1, h2, h3 {
	margin-bottom: 1px;
	padding-bottom: 1px;
}

#content {
	margin-top: 10pt;
}

#set-alarm-box {
	border: thin black solid;
	float: right;
	padding-left: 10pt;
	padding-right: 10pt;
	padding-bottom: 10pt;
	width: 38em;
}

#status-box {
	border: thin black solid;
	padding-left: 10pt;
	padding-right: 10pt;
	margin-top: 20px;
}

#alarm-box {	
	border: thin black solid;
	padding-left: 10pt;
	padding-right: 10pt;
	padding-bottom: 10pt;
	min-height: 200pt;
	width: 45em;
}

#error-box {
	border: thin black solid;
	clear: both;
	background-color: red;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 100pt;
	margin-top: 20px;
	display: none;
}

#status-uptime {
	margin-bottom: 10pt;
}

#push-alarms-to-set {
	float: right;
}

#set-alarms, #clear-alarms {
	float: right;
}

#status-clock {
	padding-bottom:10pt;
}

#get-alarms {
	margin-top: 10pt;
}