extends layout

block content
  h1= title
  p Welcome to the web application accompanying our CMPT 433 Project!
  p Please click one of the above links to get started
    li Calendar: View your currently set alarms in a calendar context
    li Alarms: Add/Remove/Edit alarms from a list of your currently set alarms
    li Ringtones: Manage your library of alarm sounds
