doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
      // Tab links
      .tab
        a(href="/") Home
        a(href="/mycal") Calendar
        a(href="/alarms") Alarms
        a(href="/ringtones") Ringtones
        //button.tablinks(onclick="openTab(event, 'home')") Home
        //button.tablinks(onclick="openTab(event, 'mycal')") Calendar
        //button.tablinks(onclick="openTab(event, 'alarms')") Alarms
        //button.tablinks(onclick="openTab(event, 'ringtones')") Ringtones

      //script.
        //function openCity(evt, cityName) {
        //var i, tabcontent, tablinks;
        //tabcontent = document.getElementsByClassName("tabcontent");
        //for (i = 0; i < tabcontent.length; i++) {
        //tabcontent[i].style.display = "none";
        //}
        //tablinks = document.getElementsByClassName("tablinks");
        //for (i = 0; i < tablinks.length; i++) {
        //tablinks[i].className = tablinks[i].className.replace(" active", "");
        //}
        //document.getElementById(cityName).style.display = "block";
        //evt.currentTarget.className += " active";
        //}
  section#wrapper
    block content
    footer
